.modal-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    display: block; /* display: none olan kısmı block yapıyoruz */
}

.features-list .list-group-item {
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 1000px;
    }
}